<h1>Editando Recibo</h1>

<%= render 'form', receipt: @receipt %>

<%= link_to 'Show', [:admin, @receipt] %> |

<% if @receipt.payment.nil? %>
  <%= link_to 'Atras', admin_receipts_path, class: 'btn btn-default' %>
<% else %>
  <%= link_to 'Atras', admin_receipts_path(payments: true), class: 'btn btn-default' %>
<% end %>