<%= content_for :head do %>
  <%= javascript_pack_tag 'newsletter-preview-app' %>
<% end %>

<div id="newsletter-preview-app"
     newsletter_id="<%= @sent_newsletter.newsletter.id -%>"
     sent_newsletter_token="<%= @sent_newsletter.sent_newsletter_token -%>"
     view_type="investor">

<!-- VUEJS -->
</div>
