<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1>Categoría de Propiedades</h1>
<br>
<% if @property_categories.empty? %>
  <div class='no-property-categories'>No hay Categorías de propiedades para mostrar.</div>
<% else %>
  <table class='table table-bordered datatable'>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Porcentaje</th>
      </tr>
    </thead>

    <tbody>
      <% @property_categories.each do |property_category| %>
        <tr>
          <td><%= property_category.name %></td>
          <td><%= property_category.percentage %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%# link_to 'Nueva categoría de propiedad', new_admin_property_category_path %>
