<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1>Categoria de Propiedades</h1>
<br>
<table class='table table-bordered datatable'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Porcentaje</th>
    </tr>
  </thead>

  <tbody>
    <% @property_categories.each do |property_category| %>
      <tr>
        <td><%= property_category.name %></td>
        <td><%= property_category.percentage %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'Nueva categoria de propiedad', new_admin_property_category_path %>
