<h1>Editar Base de Cálculo</h1>
<br>
<div class='budgets'>
  <div class="alert alert-info">
    <b>IMPORTANTE:</b> Una Base de cálculo sólo podrá eliminarse antes de su fecha de inicio.
  </div>

  <%= form_with(model: [:admin, @budget], local: true, class: 'budgets-form') do |form| %>

    <%= render 'form', budget: @budget, form: form %>

    <br>

    <div class="actions">
      <%= form.submit 'Actuaizar Base de cálculo', class: 'btn btn-primary mb-2' %>
      <%= link_to 'Atrás', admin_budgets_path, class: 'btn btn-secondary mb-2' %>
    </div>
  <% end %>
</div>