<input type='hidden' id="js-initial-debt" value="<%= payment.user&.debt&.round %>"/>
Deuda actual <b>de cuotas</b> del propietario: <span class="js-cuota-amount"><%= payment.user&.debt&.round %></span> (pesos)
<br />
