<h1>Nuevo Pago</h1>
<em>Deuda actual del propietario: <%= @payment.user.debt.round %> (pesos)</em>
<%= render 'form', payment: @payment %>

<br>
<%= link_to 'Atrás', admin_payments_path, class: 'btn btn-default' %>
