.checkbox-list input[type="checkbox"] {
  display: inline-block;
  width: 10%;
}

.checkbox-list input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 10%;
  width: 80%;
}

.red-info {
  color: red;
}

.separator {
  border: 0.5px dotted grey;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
