.right {
  float: right;
}

.login-page {
  background-color: #fff;
  width: 100%;
  height: 100%;

  .container{
    padding: 0;
    margin: 0;
  }
}

.btn-pago {
  font-size: 9px;
  margin-bottom: 5px;
}

.container {
  margin-bottom: 50px;
}

.navbar-brand {
  padding: 3px 12px;
}

.btn-default, .btn-danger {
  font-size: 0.75em;
  text-transform: uppercase;
}
table {
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}

.text-left {
  text-align: left;
}

.btn-pago {
  margin-bottom: 55px;
}