.image-gallery {
  table {
    tr {
      th {
        text-align: center;
      }
      td {
        text-align: center;
        vertical-align: middle;
        padding: 2px;
        .label {
          font-size: 0.9em;
        }
      }
    }
  }
}
.form-group.image-gallery-description {
  .form-control {
    width: 489px;
  }
}
.format-label {
  color: red;
  font-weight: 500;
}
