// Place all the styles related to the admin/newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-heading{
  font-weight: bold;
  cursor: pointer;
}
.remove-section{
  float: right;
}
.btn{
  display: inline;
}
.table.newsletters {
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}
#newsletter_form {
  .form-actions {
    float: right;
  }
}
table.newsletters {
  tbody {
    tr {
      td.title {
        text-align: left;
      }
    }
  }
}