// Place all the styles related to the admin/newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-heading{
  font-weight: bold;
}
.remove-section{
  float: right;
  margin: -6px;
}
.btn{
  display: inline;
}
.table.newsletters {
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
#newsletter_form {
  .form-actions {
    float: right;
  }
}
table.newsletters {
  tbody {
    tr {
      td.title {
        text-align: left;
      }
    }
  }
}
#administrate-section-images-modal .modal-dialog {
  width: 65% !important;
}
#send_newsletter_modal .modal-dialog {
  width: 65% !important;
}
.modal-dialog {
  width: 88% !important;
}
.modal-body{
  padding: 0;
}

.modal-dialog {
  margin-top: 12% !important;
  height: 80%;

  .moda-title{
    font-size: 20px;
    text-align: center;
    font-family: 'brown';
    text-transform: uppercase;
  }
}
/* Modal to select users that will receive the newsletter */
.send_newsletter_modal {
  .modal-header {
    display: flex;
    .modal-title {
      margin-left: 30%;
    }
    .close {
      padding: 1rem 1rem;
      margin: -1rem -1rem -1rem auto;
    }
  }
  .modal-body {
    margin-top: 5%;
    margin-bottom: 5%;
    .radios {
      overflow: hidden;
      margin-top: 6%;
      label {
        font-weight: normal;
        margin-left: 5px;
      }
      .check-all {
        float: left;
        margin-left: 20%;
      }
      .check-some {
        float: right;
        margin-right: 20%;
      }
    }
    .select-users-as-recipients {
      display: none;
      margin-top: 4%;
      margin-left: 15%;
      margin-right: 15%;
      .form-inputs {
        overflow: hidden;
        .form-lbl {
          float: left;
          width: 40%;
          margin-top: 7px;
        }
        .form-input {
          float: right;
          width: 325px;
        }
      }
      .users-selected {
        margin-top: 2%;
        display: none;
        .bootstrap-tagsinput {
          width: 100%;
          min-height: 41px;
          span.tag {
            float: left;
            height: 31px;
            padding-top: 8px;
            font-size: 1em;
            background-color: #fff;
            color: #555555;
            border: 1px solid #ccc;
            font-weight: normal;
            margin-right: 3px;
            margin-bottom: 2px;
            margin-top: 1px;
          }
        }
      }
    }
  }
}
