// Place all the styles related to the admin/newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-heading{
  font-weight: bold;
}
.remove-section{
  float: right;
  margin: -6px;
}
.btn{
  display: inline;
}
.table.newsletters {
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}

.admin-newsletter-view {
  background: url('bg_footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'brown';

  header {
    background-image: url('masterhead.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 500px;

    .title-newsletter-container {
      color: white;
      margin-top: 175px;
      background: rgba(46, 49, 49, 0.5);
      padding: 10px;

      .main-title  {
        font-size: 70px;
        font-weight: bold;
      }
      .subtitle {
        font-size: 17px;
        text-transform: uppercase;
      }
    }
  }

  .newsletter-small-title {
      font-size: 12px;
      text-align: left;
      text-transform: uppercase;
  }

  .triangle {
    height: 200px;
  }

  .logo-img {
    width: 230px;
    display: block;
    margin: auto;
  }

  .cover-image {
    max-width: 50%;
    margin: 15px auto 15px auto;
    display: block;
  }

  .container{
    width: 95%;
  }

  .title-newsletter {
    font-size: 50px;
    color: #333333;
  }

  .dividing-bar {
    height: 15px;
    border-radius: 0.25rem;
    background-color: #00c9fc;
    color: white;
  }

  .sections {
      margin-bottom: 150px;
      background-size: cover;

      .section {
        .title{
          background-color: #00c9fc;
          color: white;
          border: 2px solid #00c9fc;
          border-radius: 0.25rem;
          text-transform: uppercase;
          margin-bottom: inherit;
          margin-top: 40px;
          font-weight: bolder;
          font-size: 20px;
        }

        .description{
          margin-top: 2%;
        }
      }
  }

  .footer-newsletter {
    height: 52px;
    background-color: #333333;
    border-top: 1px solid #333333;
    color: white;

    p {
      padding-top: 12px;
    }
  }
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
#newsletter_form {
  .form-actions {
    float: right;
  }
}
table.newsletters {
  tbody {
    tr {
      td.title {
        text-align: left;
      }
    }
  }
}

.modal-dialog {
  width: 60% !important;
}
.modal-body{
  padding: 0;
}

.modal-dialog {
  margin-top: 12% !important;
  height: 80%;

  .moda-title{
    font-size: 20px;
    text-align: center;
    font-family: 'brown';
    text-transform: uppercase;
  }
}
