// Place all the styles related to the admin/receipts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.receipt {
  width: 80%;
  margin: auto;
  padding: 10px;

  img.signature {
    width: 200px;
  }
}