    <h1>Estimado <%= @user.first_name %>,<h1>

    <p>Ya se encuentra disponible la nueva Circular. Para verla haga click aquí: http://localhost:3000/circular.<br>

    <br>Saludos,<br>
    Metrobuilding.</p>
