<h1>Estimado <%= @user.first_name %>,<h1>

<p>Ya se encuentra disponible la nueva Circular. Para verla haga click aquí: <%= link_to 'Ver Circular', @sent_newsletter.newsletter_url, target: :blank %>.</p>

Saludos,<br>
Metrobuilding.
