<h1>Cuotas</h1>
<table class="table table-bordered datatable">
  <thead>
    <tr>
      <th>Fecha de emision</th>
      <th>Monto</th>
      <th>Fecha limite para el pago</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.created_at.to_s(:db) %></td>
        <td>$<%= payment.value.round %></td>
        <td><%= payment.due_date.to_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
