<%= content_for :head do %>
  <%= javascript_pack_tag 'newsletter-preview-app' %>
<% end %>


<div id="newsletter-preview-app" newsletter_id="<%=@newsletter.id%>" view_type="admin">
<!-- VUEJS -->
</div>
