<h1 class="text-center"><%=@newsletter.title%></h1>

<% @newsletter.newsletter_sections.each do |newsletter_section| %>
  <div>
    <h3 class="text-center"><%= newsletter_section.title %></h3>
    <p><%= newsletter_section.description.html_safe %></p>
  </div>
<% end %>
<br>
<div>
  <%= link_to 'Atrás', admin_newsletters_path, class: 'btn btn-primary' %>
</div>
