<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar tu contrase침a. Puedes hacer esto con el link debajo.</p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no has solicitado esto, ignora este email</p>
<p>Tu contrase침a no cambiar치 hasta que no accedas al link y lo hagas manualmente</p>
